/* reset */
html {
  font-family: sans-serif;
}
html, body {
  margin : 0;
  padding: 0;
}
* {
  color: inherit;
  font: inherit;
  text-decoration: inherit;
}

/* styling */
nav, main {
  padding: 1em;
}
nav {
  border-bottom: 1px solid #000;
}
nav a {
  display: inline-block;
  font-weight: bold;
}
